vendor/ascii_artist.py -text
vendor/git_inspector.py -text
vendor/markdown.py -text
vendor/nvd_nist_known_vulns.py -text
vendor/ascii_artist-LICENSE -text
vendor/markdown-LICENSE -text
vendor/nvd_nist_known_vulns-LICENSE -text
